# Dependencias instaladas
node_modules/

# Archivos de registro y registros
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Configuración de IDE
.vscode/
.idea/

# Archivos de compilación y dependencias compiladas
dist/
build/

# Archivos de entorno
.env
.env.local
.env.*.local

# Carpetas de cobertura de pruebas y resultados de pruebas
coverage/
.jest/

# Otros archivos y carpetas generados
.DS_Store
Thumbs.db
.cache
.history